html {
  font-size: 16px;
  font-family: "Libre Franklin"
}


/*Header*/

header {
  display: flex;
  width: auto;
  margin: auto;
  height: 4rem;
  background-color: white;
  border-bottom: thin solid gray;
  justify-content: space-between;
}

div.logo {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  font-weight: bold;
}

div.logo span {
  font-weight: 300;
  color: gray;
}

div.contents {
display: flex;
align-items: center;
padding-right: 1.5rem;
}

div.contents span {
  padding-left: 1rem;
}

div.contents-icon {
  display: none;
}

@media only screen and (max-width: 600px) {
  div.logo {
    display: none;
  }

  div.contents {
    display: none;
  }

  div.contents-icon {
    display: flex;
    align-items: center;
    margin: auto;
    padding-right: 2rem;
  }

  div.contents-icon span {
    padding-left: 2rem;
  }

}

/*Banner*/

div.blank-banner {
  display: none;
}

div.banner {
  display: flex;
  background-color: lightgray;
  align-items: center;
}

div.banner .imagebox {
  margin-left: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 2.5rem;
  width: 60%;
}

div.imagebox img {
  width: 100%;
}

div.banner .textbox {
  margin-right: 4.5rem;
  color: #5C5D5D;
  width: 25%;
}

div.headline {
  font-size: 2.5rem;
  font-weight: 700;
}

div.headline h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

div.button {
  background-color: #5C5D5D;
  color: white;
  text-align: center;
}

div.button p {
  padding-top: .5rem;
  padding-bottom: .5rem;
}


@media only screen and (max-width: 800px) {
    div.banner .textbox{
      margin-right: 2.5rem;
    }

    div.textbox .headline{
      font-size: 1.5rem;
    }
    div.textbox .subpoint, .button{
      font-size: .75rem;
    }
}

@media only screen and (max-width: 500px) {
  div.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div.banner .imagebox {
    display: none;
  }

  div.blank-banner {
    display: block;
    background-color: #5C5D5D;
    min-height: 11.5rem;
  }

  div.banner .textbox {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    padding: 2rem 0rem;
  }

  div.button {
    width: 80%;
    margin: 0;
    padding: 0;
  }

}

/*Main Content (whole section)*/

div.main-content {
  color: #5C5D5D;
}

/*Part 1: Stories*/

div.stories {
  display: flex;
  border: 1px solid lightgray;
}

div.featured {
  width: 60%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

div.featured-imagebox {
  width: 100%;
  margin-bottom: 2rem;
}

div.featured-imagebox img {
  width: 100%;
}

div.featured-textbox h2 {
  font-size: 2rem;
  font-weight: bolder;
  padding-bottom: 1.5rem;
}

div.featured-textbox .quote {
  font-weight: lighter;
}

div.small-stories {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

div.story-image .mobile {
  display: none;
}

div.small-story {
  display: flex;
  border: 1px solid lightgray;
  flex: 1 1 auto;
}

div.small-story .story-image {
  width: 40%;
  margin: 1rem;
}

div.story-image img {
  width: 100%;
}

div.small-story .story-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.story-text h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

div.story-text a {
  text-decoration: none;
}

@media only screen and (max-width: 800px){
  div.featured h2 {
    font-size: 1.5rem;
  }
  div.featured p {
    font-size: .75rem;
  }

  div.small-story h3, p, a {
    font-size: .75rem;
  }
}

@media only screen and (max-width: 500px) {
  div.featured {
    display: none;
  }
  div.story-image .desktop {
    display: none;
  }

  div.story-image .mobile {
    display: block;
  }

  div.small-stories {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
  }

  div.small-story {
    display: block;
    border: 1px none white;
  }

  div.small-story .story-image {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  div.small-story .story-text {
    width: 100%;
    margin: 0 auto;
  }

  div.story-text h3 {
    font-size: 1.25rem;
  }

}

/*Part 2: Learning*/

div.StayLearning {
  background-color: lightgray;
}

div.StayLearningText {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: bolder;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

div.ClassesContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

div.ClassBox {
  max-width: 25%;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  flex: 1 1 fill;
}

div.ClassBox img {
  width: 100%;
}

div.ClassBox .ClassText {
  background-color: white;
  height: auto;
  border-top: 1rem;
  border-bottom: 2rem;
  border-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-right: 1rem;
}

div.ClassText h3 {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem;
}

div.ClassText p {
  padding: 1rem;
}

div.Mobile {
  display: none;
}

@media only screen and (max-width:800px) {
  .StayLearningText p {
    font-size: 1.5rem;
  }
  div.ClassText h3 {
    font-size: 1rem;
  }
}

@media only screen and (max-width:500px) {
  div.ClassesContainer {
    display: none;
  }
  div.Mobile {
    display: block;
    margin-bottom: 1rem;
  }
  div.StayLearning {
    background-color: white;
  }
  div.Mobile .Online-Class {
    background-color: lightgray;
    width: 90%;
    margin: .5rem auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  div.Online-Class span {
    padding: 1rem 0rem 1rem 1rem;
  }
}

/*Part 3: Thesis*/


div.ThesisTitle {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

div.Thesis-Container {
  display: flex;
  align-items: flex-start;
}

div.Featured-Thesis {
  width: 60%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

div.Featured-Thesis video {
  width: 100%;
}

div.Featured-Thesis h3 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 1.5rem;
}

div.Featured-Thesis p {
  font-weight: 300;
  line-height: 1.5;
  }

div.NonFeatured-Theses {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-top: 1rem;
  margin-right: .25rem;
}

div.Side-Thesis {
  display: flex;
  align-items: center;
}

div.thesis-image {
  min-width: 25%;
  max-width: 25%;
  margin: 1rem;
}

div.thesis-image img {
  width: 100%;
}

div.thesis-text h3 {
  font-size: 1.5rem;
  font-weight: 700;
}


@media only screen and (max-width: 800px) {
  div.ThesisTitle p {
    font-size: 1.5rem;
  }

  div.Thesis-Section h3 {
    font-size: 1rem;
  }
  div.Featured-Thesis h3 {
    padding-top: .5rem;
  }
}

@media only screen and (max-width:500px) {
  div.Thesis-Section {
    border: 1px solid lightgray;
  }

  div.NonFeatured-Theses {
    display: none;
  }
  div.Featured-Thesis {
    width: 100%;
    border: 0;
  }
  div.Featured-Thesis video {
    width: 100%;
    border: 0;
  }
  div.Featured-Thesis .Featured-Title, .Featured-Quote {
    display: none;
  }
}

/*Footer*/

Footer {
  display: flex;
  justify-content: space-between;
  height: 7rem;
  border-top: thin solid lightgray;
}

div.Copyright {
  padding-left: 1.5rem;
  padding-top: 1.5rem;
}

div.Terms {
  padding-top: 1.5rem;
  padding-right: 1.5rem;
}

@media only screen and (max-width: 500px) {
  Footer {
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  div.Terms {
    display: none;
  }
}
